fastapi
uvicorn[standard]
streamlit
sqlalchemy
sentence-transformers
pdfplumber
pymupdf
pdf2image
pytesseract
python-docx
google-api-python-client
google-auth
scikit-learn
numpy
bcrypt
requests
docx2pdf
wordsegment
psycopg2-binary
pytesseract
pdf2image